<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                crear estado de resultados
            </button>
            <table class="table table-bordered table-hover table-dark">
                <h2>Estados de resultados</h2>
                <thead>
                    <tr>
                        <td>Id Estado </td>
                        <td>Ventas</td>
                        <td>Costos</td>
                        <td>Margen</td>
                        <td>Saldo Final</td>
                    </tr>
                </thead>
                <tbody>
                    <!--Si hay datos los recorre por un bloque for-->
                    <% if (data) { %>
                        <% for(var i=0; i < data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= data[i].idEstRes %>
                                </td>
                                <td>
                                    <%= data[i].sales %>
                                </td>
                                <td>
                                    <%= data[i].costs %>
                                </td>
                                <td>
                                    <%= data[i].margin %>
                                </td>
                                <td>
                                    <!-- <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a> -->
                                    <a type="button" onclick="getValueInput(<%= data[i].idEstRes %>)"
                                        class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalForm">
                                        Editar
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                        href="/deleteStated/<%= data[i].idEstRes %>">
                                        eliminar
                                    </a>

                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>

            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog .bg-dark.bg-gradient">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> Estas seguro de eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> crear nuevo presupeusto</h5>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Ventas</label>
                                <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Password" /> -->
                                <input type="text" class="form-control" id="startDateCreated">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Costos</label>
                                <input type="text" class="form-control" id="proyectCreated" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Margen</label>
                                <input type="text" class="form-control" id="versionsCreated">

                            </div>
                        </div>
                        <div class="modal-footer align-items-center">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                onclick="createStated()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Click on Modal Button -->


            <!-- Modal -->
            <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bootstrap 5 Modal Form</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="mb-3">
                                    <label class="form-label">Ventas</label>
                                    <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Password" /> -->
                                    <input type="text" class="form-control" id="startDate">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">costos</label>
                                    <input type="text" class="form-control" id="proyect" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Margen</label>
                                    <input type="text" class="form-control" id="versions">

                                </div>
                                <div class="modal-footer d-block">

                                    <button class="btn btn-warning float-end" onclick="updateStates()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
<script src="./scripts/statedResults.js">
</script>